<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <%= @user.profile %><br>
        <%= link_to 'フォロー中のHiker', followings_user_path(@user.id) %><br>
        <%= link_to 'フォローされているHiker', followers_user_path(@user.id) %><br>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.hikes.any? %>
      <h3>Hikes (<%= @user.hikes.count %>)</h3>
      <ol class="hikes">
        <%= render @hikes %>
      </ol>
    <% end %>
  </div>
</div>