<%= form_for(@hike) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "上の句" %>
    <%= f.text_area :content2, placeholder: "中の句"%>
    <%= f.text_area :content3, placeholder: "下の句"%>
  </div>
  <%= f.submit "Hike!", class: "btn btn-warning" %>
<% end %>